<?xml version="1.0" encoding="utf-8"?>

<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
         xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
         xmlns:uap7="http://schemas.microsoft.com/appx/manifest/uap/windows10/7"
         xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
         IgnorableNamespaces="rescap uap uap4 uap10 mp">
         
  <Identity
    Name="Microsoft.WindowsTerminalUniversal"
    Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
    Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="c0be251a-4cdd-4a6c-ab49-938ed9b6c262" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    
  <Properties>
    <DisplayName>ms-resource:AppName</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>
  
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.18362.0" MaxVersionTested="10.0.32767.0" />
    <TargetDeviceFamily Name="Windows.Core" MinVersion="10.0.18362.0" MaxVersionTested="10.0.32767.0" />
  </Dependencies>
  
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  
  <Applications>
    <Application Id="App" 
      Executable="$targetnametoken$.exe" 
      EntryPoint="WindowsTerminalUniversal.App"
      uap10:TrustLevel="mediumIL"
      uap10:RuntimeBehavior="windowsApp">
      <uap:VisualElements 
        DisplayName="ms-resource:AppName" 
        Description="ms-resource:AppDescription"
        Square150x150Logo="Images\Square150x150Logo.png" 
        Square44x44Logo="Images\Square44x44Logo.png" 
        BackgroundColor="transparent">
        <uap:SplashScreen Image="Images\SplashScreen.png" />
        <uap:DefaultTile/>
      </uap:VisualElements>
    </Application>
  </Applications>
  
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust"/>
    <uap4:CustomCapability Name="Microsoft.coreAppActivation_8wekyb3d8bbwe" />
    <uap4:CustomCapability Name="Microsoft.deployFullTrustOnHost_8wekyb3d8bbwe" />
  </Capabilities>

  <Extensions>
    <uap7:Extension Category="windows.sharedFonts">
      <uap7:SharedFonts>
        <uap4:Font File="CascadiaMono.ttf" />
      </uap7:SharedFonts>
    </uap7:Extension>
  </Extensions>
</Package>
